/* Twitter Input */

.tw-widget {
  height: 500px;
  width: 750px;
  background-color: #f5f4f9;
  padding: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  display: grid;
  grid-template-columns: 1fr 44px 1fr;
}

h2 {
  font-size: 24px;
}

.tw-widget h3 {
  font-size: 15px;
}

/* Text and Image Input */

.widget {
  max-width: 800px;
  height: 50vw;
  max-height: 400px;
  background-color: #f5f4f9;
  padding: 20px;
  border: 3px solid #d3cfdd;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 44px 1fr;
}

.left {
  display: flex;
  flex-direction: column;
}
.line {
  background-color: #d3cfdd;
  width: 3px;
  margin: 0 20px;
}
.right {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .widget {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 43px 1fr;
    height: auto;
    max-height: none;
  }
}
@media only screen and (max-width: 600px) {
  .line {
    height: 3px;
    width: auto;
    margin: 20px 0;
  }
}
