* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: sofia-pro;
  src: url("./resources/fonts/Sofia\ Pro\ Medium.otf") format("opentype");
}
@font-face {
  font-family: sofia-pro;
  font-weight: 300;
  src: url("./resources/fonts/Sofia\ Pro\ Light.otf") format("opentype");
}

html {
  font-family: sofia-pro;
  color: #2b1e6b;
}
